.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -337px 32px 0 743px;
}

.u-section-1 .u-text-2 {
  margin: 93px 32px 0 743px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px 137px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -280px;
    margin-right: 0;
    margin-left: 617px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 71px;
    margin-right: 0;
    margin-left: 609px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 73px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-1 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: 48px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 58px;
    margin-right: 151px;
    margin-left: 203px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-right: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 586px;
}

.u-section-2 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px 0 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -337px 743px 0 32px;
}

.u-section-2 .u-text-2 {
  margin: 93px 743px 0 32px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px auto 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-2 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 609px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-left: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    margin-top: 73px;
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-2 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
    margin-right: 71px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 58px;
    margin-right: 203px;
    margin-left: 151px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 586px;
}

.u-section-3 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: -337px 32px 0 743px;
}

.u-section-3 .u-text-2 {
  margin: 93px 32px 0 743px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px 137px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-3 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 0;
    margin-left: 602px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 609px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 15px;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    margin-top: 73px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 28px;
    margin-right: 48px;
    margin-left: 71px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 58px;
    margin-right: 151px;
    margin-left: 203px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 13px;
    margin-right: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 586px;
}

.u-section-4 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px 0 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: -337px 743px 0 32px;
}

.u-section-4 .u-text-2 {
  margin: 93px 743px 0 32px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px auto 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-4 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 609px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 15px;
    margin-left: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    margin-top: 73px;
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-4 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 28px;
    margin-right: 71px;
    margin-left: 48px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 58px;
    margin-right: 203px;
    margin-left: 151px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 13px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 586px;
}

.u-section-5 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px auto 0 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: -337px 32px 0 743px;
}

.u-section-5 .u-text-2 {
  margin: 93px 32px 0 743px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px 137px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-5 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 0;
    margin-left: 602px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 609px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 15px;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    margin-top: 73px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-5 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 28px;
    margin-right: 48px;
    margin-left: 71px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 58px;
    margin-right: 151px;
    margin-left: 203px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 13px;
    margin-right: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 586px;
}

.u-section-6 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px 0 0 auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: -337px 743px 0 32px;
}

.u-section-6 .u-text-2 {
  margin: 93px 743px 0 32px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-6 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 609px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 15px;
    margin-left: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    margin-top: 73px;
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-6 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 28px;
    margin-right: 71px;
    margin-left: 48px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 58px;
    margin-right: 203px;
    margin-left: 151px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 13px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 586px;
}

.u-section-7 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px auto 0 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: -337px 32px 0 743px;
}

.u-section-7 .u-text-2 {
  margin: 93px 32px 0 743px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px 137px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-7 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 0;
    margin-left: 602px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 609px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 15px;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-gallery-1 {
    margin-top: 73px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-7 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 28px;
    margin-right: 48px;
    margin-left: 71px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 58px;
    margin-right: 151px;
    margin-left: 203px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 13px;
    margin-right: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-gallery-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 586px;
}

.u-section-8 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px 0 0 auto;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: -337px 743px 0 32px;
}

.u-section-8 .u-text-2 {
  margin: 93px 743px 0 32px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px auto 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-8 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 609px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 15px;
    margin-left: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-gallery-1 {
    margin-top: 73px;
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-8 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-8 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 28px;
    margin-right: 71px;
    margin-left: 48px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 58px;
    margin-right: 203px;
    margin-left: 151px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 13px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-8 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 586px;
}

.u-section-9 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 85px auto 0 0;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-9 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: -337px 32px 0 743px;
}

.u-section-9 .u-text-2 {
  margin: 93px 32px 0 743px;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px 137px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-9 .u-gallery-1 {
    width: 602px;
    height: 364px;
    margin-top: 117px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -280px;
    margin-right: 0;
    margin-left: 602px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 609px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 15px;
    margin-right: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-gallery-1 {
    margin-top: 73px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-9 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-9 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 28px;
    margin-right: 48px;
    margin-left: 71px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 58px;
    margin-right: 151px;
    margin-left: 203px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 13px;
    margin-right: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-gallery-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-9 .u-gallery-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 21px;
  }
}